@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pfunqz');
  src:  url('fonts/icomoon.eot?pfunqz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pfunqz') format('truetype'),
    url('fonts/icomoon.woff?pfunqz') format('woff'),
    url('fonts/icomoon.svg?pfunqz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headphones:before {
  content: "\e90d";
}
.icon-map-marker:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e908";
}
.icon-shopping-cart:before {
  content: "\e901";
}
.icon-arrow-thin-up:before {
  content: "\e90a";
}
.icon-cheveron-down:before {
  content: "\e900";
}
.icon-cheveron-right:before {
  content: "\e907";
}
.icon-credit-card:before {
  content: "\e90b";
}
.icon-exclamation-outline:before {
  content: "\e903";
}
.icon-shopping-cart1:before {
  content: "\e90c";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-user:before {
  content: "\e971";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-search:before {
  content: "\e986";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-question:before {
  content: "\ea09";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-font:before {
  content: "\ea5c";
}
.icon-hangouts:before {
  content: "\ea8e";
}
